.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

html,
body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.post .time {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  color: #000; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: .1rem dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  q::before, q::after {
    content: '';
    content: none; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  margin: 0 .2rem;
  padding: .35em .625em .75em;
  border: 0.1rem solid #c0c0c0; }

legend {
  padding: 0;
  border: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }

button,
select {
  text-transform: none; }

html input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 1.6rem;
  line-height: 1.25;
  font-family: sans-serif;
  font-weight: 400; }
  @media (min-width: 768px) {
    body {
      font-size: 1.6rem;
      line-height: 1.375; } }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

html,
body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.post .time {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

@media (min-width: 480px) {
  .container {
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 80rem; } }

@media (min-width: 1024px) {
  .container {
    max-width: 102rem; } }

@media (min-width: 1200px) {
  .container {
    max-width: 116rem; } }

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  .row-reverse {
    flex-direction: row-reverse; }

.col {
  display: flex;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .col-reverse {
    flex-direction: column-reverse; }

@media (max-width: 479px) {
  .container {
    padding-right: 1.2rem;
    padding-left: 1.2rem; }
    .container-full {
      padding-right: 1.2rem;
      padding-left: 1.2rem; }
  .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem; }
  .col {
    padding-right: 1.2rem;
    padding-left: 1.2rem; } }

html {
  position: relative;
  height: 100%;
  min-height: 100%; }
  html body {
    height: 100%;
    min-height: 100%; }

.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #edeef0; }

.post {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(204, 204, 204, 0.8);
  transition: all ease .5s; }
  .post header {
    display: flex;
    margin-bottom: 1.5rem; }
    .post header > div {
      margin-right: .5rem; }
    .post header .photo {
      width: 6.6rem;
      height: 6.6rem;
      margin-right: 1rem;
      border-radius: 50%;
      object-fit: cover; }
    .post header .author,
    .post header .position {
      display: block;
      word-break: break-all;
      word-break: break-word; }
    .post header .position {
      color: #808080;
      font-size: 1.4rem; }
  .post .time {
    flex: 0 0 auto;
    margin-left: auto;
    color: #808080;
    max-width: 5rem; }
  .post .text {
    margin: 0;
    cursor: pointer; }
  .post.banned {
    background-color: #f0f2f5;
    transition: all ease .5s; }
    .post.banned .text {
      padding: 1.6rem;
      font-size: 1.4rem;
      color: #808080;
      background-color: #e7ebee;
      border-radius: .7rem;
      transition: background-color ease .5s; }

@media (min-width: 480px) and (max-width: 768px) {
  [data-wall="attendify"] {
    column-count: 2;
    column-gap: 2rem;
    column-fill: initial; } }

@media (min-width: 768px) {
  [data-wall="attendify"] {
    column-count: 3;
    column-gap: 2.4rem; }
  .post {
    max-width: 36rem;
    margin-bottom: 2.4rem;
    padding: 2.4rem; }
    .post header {
      margin-bottom: 2.4rem; }
      .post header > div {
        margin-right: 1.6rem; }
      .post header .photo {
        margin-right: 1.6rem; }
    .post .time {
      max-width: 10rem; } }

/*# sourceMappingURL=main.css.map */
