@import '../utilities/colors/project_default';
@import '../utilities/placeholder';

// Base style (tag only)

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  @extend %noIndent;
}

body {
  color: $base-text;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

